ul {
    font-family: Flex,Arial,sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f7c1d9;
    font-size: 2em;
    font-weight: bold;
  }
  
  li {
    float: left;
  } 
  
  li a {
    display: block;
    color: rgb(41, 41, 41);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li img{
    display: block;
    width: 65px;
    padding: 8px;
  }
  
.active{
    background-color: #f09bc1;
    font-weight: bolder;
}

  li a:hover {
    background-color: #f088b7;
    font-weight: bolder;
}

/* .container {
  margin: auto;
} */

.center {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.center button {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-left: 45%;
  margin-right: 45%;
  background-color: #f7c1d9;
  font-weight: bold;
  margin: 30px;
}

.center button:hover {
  background-color: #f088b7;
  font-weight: bolder;
  cursor: pointer;
}

.messages{
  background-color: white;
  overflow:hidden;
  font-size: 1em;
}
.messages li{
  display: block;
  float: initial;
  color: rgb(36, 36, 36);
  width: 500px;
  background-color: #fcd2e6;

}

.chatArea{
  width: 500px;
  display: inline-block;
  background-color: #f7c1d9;;
  border-radius: 30px;
}

input {
  border-radius: 5px;
  border: 2px solid #f7c1d9;
  padding: 5px;
}


.root {
    display: flex;
    background: #ffffff;
    min-height: calc(100vh - 60px);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}


.jss53 {
    width: 100%;
    display: flex;
    padding: 24px;
    z-index: 1;
    overflow: hidden;
    position: relative;
    min-height: 65vh;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-position: center;
}

*, *::before, *::after {
    box-sizing: inherit;
}

div {
    display: block;
}

body {
    color: rgba(18, 18, 18, 1);
    margin: 0;
    font-size: 14px;
    font-family: Roboto Flex,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.19px;
    background-color: #f8f8f6;
}

:host, :root {
    --rem: 16;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
    box-sizing: inherit;
}

*, *::before, *::after {
    box-sizing: inherit;
}


.MuiTypography-root.MuiTypography-h1.MuiTypography-colorTextSecondary[data-cy="hero-image-title"] {
  opacity: 1;
  transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1) 750ms;
  font-size: 5em; /* Tilpas skriftstørrelse efter behov */
  color: #f7c1d9; /* Tilpas farve efter behov */
  font-weight: bold; /* Tilpas skriftvægt efter behov */

}

.MuiBox-root.jss62 {
  background-image: url('Baggrundsbillede.joe.png'); /* Erstat 'din-billede-sti.jpg' med stien til dit baggrundsbillede */
  background-size: cover; /* Skaleres baggrundsbilledet til at dække boksen */
  background-position: center; /* Centrerer baggrundsbilledet i boksen */
  background-repeat: no-repeat; /* Forhindre gentagelse af baggrundsbilledet */
}




.MuiTypography-root.jss54.MuiTypography-body1.MuiTypography-colorTextSecondary {
  font-weight: bold; 
  font-size: 1.2em; 
  padding-bottom: 2em;
}

h1 {
  font-size: 1.8em;
  color: #f7c1d9;
  font-weight: bold;
  opacity: 1;
  transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1) 750ms;

}


#order-button {
  font-weight: bold;
  font-family: Roboto Flex,Arial,sans-serif;
  background-color: rgba(247, 193, 217, 1);
  color: #24272a;
  box-shadow: none;
  border-radius: 0;
  font-size: 16px;
  padding: 10px 16px; /* Tilpas polstring efter behov */
  text-align: center; /* Centrer teksten vandret */
  display: inline-block; /* Gør det til en inline-blok for at justere størrelsen til indholdet */
  text-decoration: none; /* Fjern understregning fra linket */
  transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1) 750ms;
}


#order-button:hover {
  opacity: 1;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px; /* Add a negative margin to counteract the padding on individual product elements */
}

.product {
  font-family: Roboto Flex,Arial,sans-serif;
  margin: 20px 0;
  padding: 20px;
  text-align: center;
  background-color: #fcd2e6;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 0 1 calc(20% - 40px); /* Use 'flex' property to control the width and add negative margin */
  box-sizing: border-box;
  margin: 10px; /* Add margin to create a gap between product elements */
}

.product-list {
  margin: 0 20px; /* Add a negative margin to create space on the left and right sides of the container */
}

.product img {
  max-width: 100%;
}

.product h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #f7c1d9;
}

.product p {
  font-size: 1em;
  color: rgb(36, 36, 36);
  padding: 10px 0;
}

.product button {
  background-color: #f7c1d9;
  color: #24272a;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 16px;
  margin-top: 10px;
  cursor: pointer;
}

.product button:hover {
  background-color: #f088b7;
}

h4 {
  font-size: 1.8em;
  color: #000000;
  font-weight: bold;
  opacity: 1;
  transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1) 750ms;

}

.h5 {
  font-weight: bold; 
  font-size: 1.2em; 
  padding-bottom: 2em;
}